body {
  background-color: black;
  color: white;
  height: 100vh;
}

#header {
  display: flex;
  width: 100%;
  height: 5vh;
  /*color: white;*/
  /*background-color: red;*/
}

.header-part{
  border: solid white 2px;
  width: 25%;
  text-align: center;
  font-size: 30px;
  /*color: green;*/
}

.restaurant {
  height: 50vh;
  width: 50vw;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vh;
  font-size: 30px;
  font-style: italic;
}

#menu {
  display: flex;
  width: 100%;
}

#sidebar {
  margin: 0;
  /*background-color: blue;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 25vh;
  border: solid gold 5px;
  list-style: none;
  padding-left: 0;
}

#section {
  font-size: 30px;
  border-bottom: solid gold 3px;
  /*background-color: green;*/
}

#sub-section {
  font-size: 15px;
  color: pink;
  /*background-color: silver;*/
}

#food {
  /*background-color: red;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
}
